image: python:3.8

include:
  - template: Code-Quality.gitlab-ci.yml

.testSetup: &testSetup
    stage: test
    allow_failure: true
    coverage: '/^TOTAL.*\s+(\d+\%)$/'
    script:
        - pip install .[test] coverage pytest betamax sphinx
        - pytest --cov-report=term --cov=credmgr tests

stages:
    - test
    - deploy
    - pages

test:pytest3.8:
    image: python:3.8
    <<: *testSetup

test:pytest3.7:
    image: python:3.7
    <<: *testSetup

test:pytest3.6:
    image: python:3.6
    <<: *testSetup

test:sonarqube:
    image:
        name: sonarsource/sonar-scanner-cli:latest
        entrypoint: [""]
    stage: test
    allow_failure: true
    variables:
      SONAR_TOKEN: $SONAR_TOKEN
      SONAR_HOST_URL: "https://qube.jesassn.org"
      GIT_DEPTH: 0
    script:
        - sonar-scanner -Dsonar.projectKey=credmgr-client -Dproject.settings=$CI_PROJECT_DI/sonar-project.properties -Dsonar.qualitygate.wait=true

deploy:
    stage: deploy
    variables:
        TWINE_USERNAME: $PYPI_USERNAME
        TWINE_PASSWORD: $PYPI_PASSWORD
    before_script:
        - pip install twine
        - python setup.py sdist
    script:
        - twine upload dist/*
    only:
        - tags

pages:
  script:
    - pip install .[docs]
    - cd docs ; make html
    - mv _build/html/ ../public/
  artifacts:
    paths:
      - public
#  only:
#    - tags