{
  "http_interactions": [
    {
      "recorded_at": "2020-04-26T03:03:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users/1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 1, \"username\": \"spaz\", \"is_active\": true, \"is_regular_user\": true, \"is_admin\": true, \"default_settings\": {\"database_flavor\": \"postgres\", \"database_host\": \"localhost\"}, \"reddit_username\": \"\", \"created\": \"2020-04-03T02:55:01.957432+00:00\", \"updated\": \"2020-04-26T03:01:22.482321+00:00\", \"resource_type\": \"User\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/1"
      }
    },
[...]
    {
      "recorded_at": "2020-04-26T03:14:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users/1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 1, \"username\": \"spaz\", \"is_active\": true, \"is_regular_user\": true, \"is_admin\": true, \"default_settings\": {\"database_flavor\": \"postgres\", \"database_host\": \"localhost\"}, \"reddit_username\": \"\", \"created\": \"2020-04-03T02:55:01.957432+00:00\", \"updated\": \"2020-04-26T03:01:22.482321+00:00\", \"resource_type\": \"User\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}