{
  "http_interactions": [
    {
      "recorded_at": "2020-05-20T21:10:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/bots?limit=20&offset=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\": 3, \"app_name\": \"mod_from_discord\", \"resource_type\": \"Bot\"}, {\"id\": 8, \"app_name\": \"botName3\", \"resource_type\": \"Bot\"}, {\"id\": 6, \"app_name\": \"newBotName\", \"resource_type\": \"Bot\"}, {\"id\": 1, \"app_name\": \"botName4\", \"resource_type\": \"Bot\"}]\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/bots?limit=20&offset=0"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}