{
  "http_interactions": [
    {
      "recorded_at": "2020-05-20T20:59:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=botName"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/bots/by_name"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 5, \"app_name\": \"botName\", \"resource_type\": \"Bot\", \"owner_id\": 1, \"reddit_app\": null, \"sentry_token\": null, \"database_credential\": null}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/bots/by_name"
      }
    },
    {
      "recorded_at": "2020-05-20T20:59:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "DELETE",
        "uri": "https://credmgr.jesassn.org/api/v1/bots/5"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://credmgr.jesassn.org/api/v1/bots/5"
      }
    },
    {
      "recorded_at": "2020-05-20T20:59:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=botName"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/bots/by_name"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"message\": \"The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://credmgr.jesassn.org/api/v1/bots/by_name"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}