{
  "http_interactions": [
    {
      "recorded_at": "2020-05-15T19:04:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/database_credentials/4"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 4, \"app_name\": \"test2\", \"database_username\": \"postgres\", \"database_host\": \"localhost\", \"database\": \"postgres\", \"database_flavor\": \"postgres\", \"resource_type\": \"DatabaseCredential\", \"database_port\": 6543, \"database_password\": \"\", \"use_ssh\": false, \"ssh_host\": \"\", \"ssh_port\": 22, \"ssh_username\": \"\", \"ssh_password\": \"\", \"use_ssh_key\": false, \"private_key\": \"\", \"private_key_passphrase\": \"\", \"enabled\": true, \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/database_credentials/4"
      }
    },
    {
      "recorded_at": "2020-05-15T19:04:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"op\": \"replace\", \"path\": \"/app_name\", \"value\": \"testDatabaseCredential\"}]"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "PATCH",
        "uri": "https://credmgr.jesassn.org/api/v1/database_credentials/4"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": 409, \"error\": \"already exists\", \"items\": {\"app_name\": \"testDatabaseCredential\", \"owner_id\": \"1\"}, \"message\": \"Failed to update Database Credential details.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 409,
          "message": "Conflict"
        },
        "url": "https://credmgr.jesassn.org/api/v1/database_credentials/4"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}