{
  "http_interactions": [
    {
      "recorded_at": "2020-05-17T03:42:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "user_id=1234567&reddit_app_id=27&redditor=redditor&extra_data=%7B%22extra%22%3A+%22data%22%2C+%22nested%22%3A+%7B%22dict%22%3A+%22value%22%7D%7D"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/user_verifications"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 36, \"user_id\": \"1234567\", \"redditor\": \"redditor\", \"resource_type\": \"UserVerification\", \"reddit_app_id\": 27, \"extra_data\": {\"extra\": \"data\", \"nested\": {\"dict\": \"value\"}}, \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/user_verifications"
      }
    },
    {
      "recorded_at": "2020-05-17T03:42:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/user_verifications/36"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 36, \"user_id\": \"1234567\", \"redditor\": \"redditor\", \"resource_type\": \"UserVerification\", \"reddit_app_id\": 27, \"extra_data\": {\"extra\": \"data\", \"nested\": {\"dict\": \"value\"}}, \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/user_verifications/36"
      }
    },
    {
      "recorded_at": "2020-05-17T03:42:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps/27"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 27, \"app_name\": \"test\", \"client_id\": \"test\", \"client_secret\": \"\", \"resource_type\": \"RedditApp\", \"app_description\": \"\", \"user_agent\": \"test\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08\", \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps/27"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}