{
  "http_interactions": [
    {
      "recorded_at": "2020-05-15T19:05:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/database_credentials/3"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 3, \"app_name\": \"testDatabaseCredential\", \"database_username\": \"newUsername\", \"database_host\": \"databaseHost\", \"database\": \"database\", \"database_flavor\": \"databaseFlavor\", \"resource_type\": \"DatabaseCredential\", \"database_port\": 5432, \"database_password\": null, \"use_ssh\": false, \"ssh_host\": null, \"ssh_port\": 22, \"ssh_username\": null, \"ssh_password\": null, \"use_ssh_key\": false, \"private_key\": null, \"private_key_passphrase\": null, \"enabled\": true, \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/database_credentials/3"
      }
    },
[...]
    {
      "recorded_at": "2020-05-15T19:05:22",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/database_credentials/3"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"message\": \"The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://credmgr.jesassn.org/api/v1/database_credentials/3"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}