{
  "http_interactions": [
    {
      "recorded_at": "2020-05-20T20:58:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=botName3&reddit_app_id=29&sentry_token_id=12&database_credential_id=20&owner_id=4"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/bots"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 8, \"app_name\": \"botName3\", \"resource_type\": \"Bot\", \"owner_id\": 4, \"reddit_app\": {\"id\": 29, \"app_name\": \"testApp\", \"client_id\": \"testApp\", \"client_secret\": \"\", \"resource_type\": \"RedditApp\", \"app_description\": \"\", \"user_agent\": \"useragent\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"3bbb624d9d591c2a9692df5df5788d6bff403c6b3272c41204ea7c891bbd4253\", \"owner_id\": 4}, \"sentry_token\": {\"id\": 12, \"app_name\": \"testSentryToken\", \"dsn\": \"https://key@sentry.jesassn.org/id\", \"resource_type\": \"SentryToken\", \"owner_id\": 4}, \"database_credential\": {\"id\": 20, \"app_name\": \"testDatabaseCredential\", \"database_username\": \"databaseUsername\", \"database_host\": \"databaseHost\", \"database\": \"database\", \"database_flavor\": \"databaseFlavor\", \"resource_type\": \"DatabaseCredential\", \"database_port\": 6543, \"database_password\": \"databasePassword\", \"use_ssh\": true, \"ssh_host\": \"sshHost\", \"ssh_port\": 1234, \"ssh_username\": \"sshUsername\", \"ssh_password\": \"sshPassword\", \"use_ssh_key\": true, \"private_key\": \"privateKey\", \"private_key_passphrase\": \"privateKeyPassphrase\", \"owner_id\": 4}}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/bots"
      }
    },
    {
      "recorded_at": "2020-05-20T20:58:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/bots/8"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 8, \"app_name\": \"botName3\", \"resource_type\": \"Bot\", \"o[...]
    {
      "recorded_at": "2020-05-20T20:58:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users/4"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 4, \"username\": \"elfah\", \"is_active\": true, \"is_regular_user\": true, \"is_admin\": true, \"default_settings\": {\"database_flavor\": \"postgres\", \"database_host\": \"localhost\"}, \"reddit_username\": \"\", \"created\": \"2020-02-10T23:49:55.562421+00:00\", \"updated\": \"2020-05-20T20:58:15.463871+00:00\", \"resource_type\": \"User\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/4"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}