{
  "http_interactions": [
    {
      "recorded_at": "2020-05-08T03:35:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users?limit=10&offset=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\": 5, \"username\": \"jackson\", \"resource_type\": \"User\"}, {\"id\": 8, \"username\": \"kellytest\", \"resource_type\": \"User\"}, {\"id\": 9, \"username\": \"test\", \"resource_type\": \"User\"}, {\"id\": 6, \"username\": \"kelly\", \"resource_type\": \"User\"}, {\"id\": 10, \"username\": \"newUsername\", \"resource_type\": \"User\"}, {\"id\": 7, \"username\": \"Pim\", \"resource_type\": \"User\"}, {\"id\": 1, \"username\": \"spaz\", \"resource_type\": \"User\"}, {\"id\": 4, \"username\": \"elfah\", \"resource_type\": \"User\"}]\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Total-Count": [
            "8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users?limit=10&offset=0"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}