{
  "http_interactions": [
    {
      "recorded_at": "2021-07-07T21:05:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users/me"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\": 1, \"username\": \"spaz\", \"is_active\": true, \"is_regular_user\": true, \"is_admin\": true, \"default_settings\": {\"database_flavor\": \"postgres\", \"database_host\": \"localhost\", \"ssh_host\": \"spazbots.jkpayne.com\", \"user_agent\": \"python:com.jkpayne.redditapps/ by /u/Lil_SpazJoekp\"}, \"reddit_username\": \"Lil_SpazJoekp\", \"created\": \"2020-04-03T02:55:01.957432+00:00\", \"updated\": \"2021-06-26T03:58:45.072058+00:00\", \"resource_type\": \"User\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/me"
      }
    },
    {
      "recorded_at": "2021-07-07T21:05:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=testRedditApp&client_id=clientId&user_agent=userAgent&app_type=web&redirect_uri=https%3A%2F%2Fcredmgr.jesassn.org%2Foauth2%2Freddit_callback&client_secret=clientSecret&app_description=appDescription&enabled=True"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\": 109, \"app_name\": \"testRedditApp\", \"client_id\": \"clientId\", \"client_secret\": \"clientSecret\", \"resource_type\": \"RedditApp\", \"app_description\": \"appDescription\", \"user_agent\": \"userAgent\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"91893362b02d01c00fb71bc6be02065dedc3356595fc648581ab59a94864a7e4\", \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}