{
  "http_interactions": [
    {
      "recorded_at": "2020-05-17T01:12:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/refresh_tokens?limit=20&offset=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\": 2, \"reddit_app_id\": 23, \"redditor\": \"dankmailman\", \"refresh_token\": \"431362459603-LBOb9Grz2vgnUjdXmo0z1ET9fuc\", \"resource_type\": \"RefreshToken\"}, {\"id\": 3, \"reddit_app_id\": 23, \"redditor\": \"terminator076bot\", \"refresh_token\": \"366611694089-1b4k2_LNwb50vGjEFS5IJluo6_s\", \"resource_type\": \"RefreshToken\"}]\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/refresh_tokens?limit=20&offset=0"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}