{
  "http_interactions": [
    {
      "recorded_at": "2020-05-17T03:42:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "user_id=12345&reddit_app_id=27"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/user_verifications"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 34, \"user_id\": \"12345\", \"redditor\": null, \"resource_type\": \"UserVerification\", \"reddit_app_id\": 27, \"extra_data\": null, \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/user_verifications"
      }
    },
    {
      "recorded_at": "2020-05-17T03:42:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/user_verifications/34"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 34, \"user_id\": \"12345\", \"redditor\": null, \"resource_type\": \"UserVerification\", \"reddit_app_id\": 27, \"extra_data\": null, \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/user_verifications/34"
      }
    },
    {
      "recorded_at": "2020-05-17T03:42:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps/27"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 27, \"app_name\": \"test\", \"client_id\": \"test\", \"client_secret\": \"\", \"resource_type\": \"RedditApp\", \"short_name\": \"\", \"app_description\": \"\", \"user_agent\": \"test\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08\", \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps/27"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}