{
  "http_interactions": [
    {
      "recorded_at": "2020-05-07T19:18:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "username=username&password=password&is_active=True&is_regular_user=True"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/users"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": 409, \"error\": \"already exists\", \"items\": {\"username\": \"username\"}, \"message\": \"Failed to create a new user.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 409,
          "message": "Conflict"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}