{
  "http_interactions": [
    {
      "recorded_at": "2020-04-29T23:49:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/sentry_tokens/2"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 2, \"app_name\": \"testSentryToken\", \"dsn\": \"https://key@sentry.jesassn.org/id\", \"enabled\": true, \"resource_type\": \"SentryToken\", \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/sentry_tokens/2"
      }
    },
    {
      "recorded_at": "2020-04-29T23:49:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"op\": \"replace\", \"path\": \"/dsn\", \"value\": \"https://key@sentry.jesassn.org/idNew\"}]"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "PATCH",
        "uri": "https://credmgr.jesassn.org/api/v1/sentry_tokens/2"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 2, \"app_name\": \"testSentryToken\", \"dsn\": \"https://key@sentry.jesassn.org/idNew\", \"enabled\": true, \"resource_type\": \"SentryToken\", \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/sentry_tokens/2"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}