{
  "http_interactions": [
    {
      "recorded_at": "2020-04-26T03:03:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps/1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 1, \"app_name\": \"DankMemesModAbuse\", \"client_id\": \"<CLIENT_ID>\", \"client_secret\": \"<CLIENT_SECRET>\", \"resource_type\": \"RedditApp\", \"app_description\": \"Abusing /r/dankmemes mods, nothing to see here.\", \"user_agent\": \"DankMemesModAbuse\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"d4a0808927436f59b3869feaff6c8ae64dc6663dfc631bece299bf13b36570be\", \"enabled\": true, \"owner_id\": 6}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps/1"
      }
    },
[...]
    {
      "recorded_at": "2020-04-26T03:15:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps/1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 1, \"app_name\": \"DankMemesModAbuse\", \"client_id\": \"<CLIENT_ID>\", \"client_secret\": \"<CLIENT_SECRET>\", \"resource_type\": \"RedditApp\", \"app_description\": \"Abusing /r/dankmemes mods, nothing to see here.\", \"user_agent\": \"DankMemesModAbuse\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"d4a0808927436f59b3869feaff6c8ae64dc6663dfc631bece299bf13b36570be\", \"enabled\": true, \"owner_id\": 6}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps/1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}