{
  "http_interactions": [
    {
      "recorded_at": "2020-05-15T03:54:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/user_verifications?limit=20&offset=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\": 20, \"user_id\": \"174622382361673728\", \"redditor\": \"kellysama\", \"resource_type\": \"UserVerification\"}, {\"id\": 24, \"user_id\": \"0001\", \"redditor\": \"terminator076bot\", \"resource_type\": \"UserVerification\"}]\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/user_verifications?limit=20&offset=0"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}