{
  "http_interactions": [
    {
      "recorded_at": "2020-05-07T19:18:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users/6"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 6, \"username\": \"newUsername\", \"is_active\": true, \"is_regular_user\": false, \"is_admin\": true, \"default_settings\": {\"database_flavor\": \"postgres\", \"database_host\": \"localhost\"}, \"reddit_username\": \"\", \"created\": \"2020-02-27T04:35:51.920828+00:00\", \"updated\": \"2020-05-01T20:21:26.518633+00:00\", \"resource_type\": \"User\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/6"
      }
    },
    {
      "recorded_at": "2020-05-07T19:18:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"op\": \"replace\", \"path\": \"/username\", \"value\": \"username\"}]"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "PATCH",
        "uri": "https://credmgr.jesassn.org/api/v1/users/6"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": 409, \"error\": \"already exists\", \"items\": {\"username\": \"username\"}, \"message\": \"Failed to update user details.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 409,
          "message": "Conflict"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/6"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}