{
  "http_interactions": [
    {
      "recorded_at": "2020-05-15T19:05:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/database_credentials?limit=20&offset=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\": 2, \"app_name\": \"dankmemes_db\", \"database_username\": \"terminator076\", \"database_host\": \"165.22.0.44\", \"database\": \"postgres\", \"database_flavor\": \"postgres\", \"resource_type\": \"DatabaseCredential\"}]\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/database_credentials?limit=20&offset=0"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}