{
  "http_interactions": [
    {
      "recorded_at": "2020-05-17T03:30:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/refresh_tokens/1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 1, \"reddit_app_id\": 2, \"redditor\": \"Lil_SpazJoekp\", \"refresh_token\": \"<REFRESH_TOKEN>\", \"resource_type\": \"RefreshToken\", \"owner_id\": 1, \"scopes\": [\"account\", \"modtraffic\", \"modwiki\", \"structuredstyles\", \"wikiread\", \"read\", \"edit\", \"privatemessages\", \"modposts\", \"wikiedit\", \"vote\", \"save\", \"modothers\", \"history\", \"submit\", \"identity\", \"modconfig\", \"creddits\", \"modcontributors\", \"subscribe\", \"report\", \"modself\", \"livemanage\", \"flair\", \"modlog\", \"modmail\", \"modflair\", \"mysubreddits\"], \"issued_at\": \"2020-04-26T03:01:21.622489+00:00\", \"revoked\": false, \"revoked_at\": null}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/refresh_tokens/1"
      }
    },
    {
      "recorded_at": "2020-05-17T03:30:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "redditor=Lil_SpazJoekp&reddit_app_id=2"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/refresh_tokens/by_redditor"
      },
      "res[...]
[...]
    {
      "recorded_at": "2020-05-17T03:30:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/refresh_tokens/1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"message\": \"The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://credmgr.jesassn.org/api/v1/refresh_tokens/1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}