{
  "http_interactions": [
    {
      "recorded_at": "2020-04-29T01:46:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps/6"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 6, \"app_name\": \"testRedditApp\", \"client_id\": \"newClientId\", \"client_secret\": \"clientSecret\", \"resource_type\": \"RedditApp\", \"app_description\": \"\", \"user_agent\": \"userAgent\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"7ce31a95e1abc2a41673406ff87da51932acf1047cbf2eec1beb1f783d81cfd4\", \"enabled\": true, \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps/6"
      }
    },
    {
      "recorded_at": "2020-04-29T01:46:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"op\": \"replace\", \"path\": \"/client_id\", \"value\": \"clientId\"}]"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "PATCH",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps/6"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": 409, \"error\": \"already exists\", \"items\": {\"client_id\": \"clientId\", \"owner_id\": \"1\"}, \"message\": \"Failed to update Reddit App details.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 409,
          "message": "Conflict"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps/6"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}