{
  "http_interactions": [
    {
      "recorded_at": "2020-05-20T20:58:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=botName&reddit_app_id=27"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/bots"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": 409, \"error\": \"already exists\", \"items\": {\"app_name\": \"botName\", \"owner_id\": \"1\"}, \"message\": \"Failed to create a new Bot.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 409,
          "message": "Conflict"
        },
        "url": "https://credmgr.jesassn.org/api/v1/bots"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}