{
  "http_interactions": [
    {
      "recorded_at": "2020-05-16T00:03:11",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps/26"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 26, \"app_name\": \"testRedditApp2\", \"client_id\": \"client_id2\", \"client_secret\": \"client_secret2\", \"resource_type\": \"RedditApp\", \"short_name\": \"\", \"app_description\": \"\", \"user_agent\": \"nah\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"b65ec2bf16cf413a9d3703a19e19afefbd505316a441059343f391e134561f67\", \"enabled\": true, \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps/26"
      }
    },
    {
      "recorded_at": "2020-05-16T00:03:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "user_id=testuserid&reddit_app_id=26"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/user_verifications"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 32, \"user_id\": \"testuserid\", \"redditor\": null, \"resource_type\": \"UserVerification\", \"reddit_app_id\": 26, \"extra_data\": null, \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/user_verifications"
      }
    },
    {
      "recorded_at": "2020-05-16T00:03:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps/26"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 26, \"app_name\": \"testRedditApp2\", \"client_id\": \"client_id2\", \"client_secret\": \"client_secret2\", \"resource_type\": \"RedditApp\", \"short_name\": \"\", \"app_description\": \"\", \"user_agent\": \"nah\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"b65ec2bf16cf413a9d3703a19e19afefbd505316a441059343f391e134561f67\", \"enabled\": true, \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps/26"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}