{
  "http_interactions": [
    {
      "recorded_at": "2020-05-20T20:55:31",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=botName"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/bots"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 5, \"app_name\": \"botName\", \"resource_type\": \"Bot\", \"owner_id\": 1, \"reddit_app\": null, \"sentry_token\": null, \"database_credential\": null}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/bots"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}