{
  "http_interactions": [
    {
      "recorded_at": "2020-05-15T19:05:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=testDatabaseCredential&database_flavor=databaseFlavor&database=database&database_host=databaseHost&database_port=6543&database_username=databaseUsername&database_password=databasePassword&use_ssh=True&ssh_host=sshHost&ssh_port=1234&ssh_username=sshUsername&ssh_password=sshPassword&use_ssh_key=True&private_key=privateKey&private_key_passphrase=privateKeyPassphrase&enabled=True"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/database_credentials"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 9, \"app_name\": \"testDatabaseCredential\", \"database_username\": \"databaseUsername\", \"database_host\": \"databaseHost\", \"database\": \"database\", \"database_flavor\": \"databaseFlavor\", \"resource_type\": \"DatabaseCredential\", \"database_port\": 6543, \"database_password\": \"databasePassword\", \"use_ssh\": true, \"ssh_host\": \"sshHost\", \"ssh_port\": 1234, \"ssh_username\": \"sshUsername\", \"ssh_password\": \"sshPassword\", \"use_ssh_key\": true, \"private_key\": \"privateKey\", \"private_key_passphrase\": \"privateKeyPassphrase\", \"enabled\": true, \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/database_credentials"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}