{
  "http_interactions": [
    {
      "recorded_at": "2020-05-08T03:29:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users/12"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 12, \"username\": \"te\", \"is_active\": true, \"is_regular_user\": false, \"is_admin\": true, \"default_settings\": {\"database_flavor\": \"postgres\", \"database_host\": \"localhost\"}, \"reddit_username\": null, \"created\": \"2020-04-29T19:26:32.138357+00:00\", \"updated\": \"2020-04-29T19:26:32.138526+00:00\", \"resource_type\": \"User\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/12"
      }
    },
[...]
    {
      "recorded_at": "2020-05-08T03:30:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users/12"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"message\": \"The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/12"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}