{
  "http_interactions": [
    {
      "recorded_at": "2021-11-10T19:12:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users/me"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\": 1, \"username\": \"spaz\", \"is_active\": true, \"is_regular_user\": true, \"is_admin\": true, \"default_settings\": {\"database_flavor\": \"postgres\", \"database_host\": \"localhost\", \"ssh_host\": \"spazbots.jkpayne.com\", \"user_agent\": \"python:com.jkpayne.redditapps/ by u/Lil_SpazJoekp\"}, \"reddit_username\": \"Lil_SpazJoekp\", \"created\": \"2020-04-03T02:55:01.957432+00:00\", \"updated\": \"2021-11-09T06:33:02.485893+00:00\", \"resource_type\": \"User\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/me"
      }
    },
    {
      "recorded_at": "2021-11-10T19:12:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=te&client_id=clientId2&user_agent=python%3Acom.jkpayne.redditapps%2F+by+u%2FLil_SpazJoekp&app_type=web&redirect_uri=https%3A%2F%2Fcredmgr.jesassn.org%2Foauth2%2Freddit_callback&enabled=True"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\": 422, \"messages\": {\"app_name\": [\"Name must be greater than 3 characters long.\"]}, \"message\": \"The request was well-formed but was unable to be followed due to semantic errors.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 422,
          "message": "UNPROCESSABLE ENTITY"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps"
      }
    },
[...]
    {
      "recorded_at": "2021-11-10T19:12:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=te&client_id=clientId2&user_agent=python%3Acom.jkpayne.redditapps%2F+by+u%2FLil_SpazJoekp&app_type=web&redirect_uri=https%3A%2F%2Fcredmgr.jesassn.org%2Foauth2%2Freddit_callback&enabled=True"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\": 422, \"messages\": {\"app_name\": [\"Name must be greater than 3 characters long.\"]}, \"message\": \"The request was well-formed but was unable to be followed due to semantic errors.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 422,
          "message": "UNPROCESSABLE ENTITY"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
