{
  "http_interactions": [
    {
      "recorded_at": "2020-04-29T23:49:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=se&dsn=https%3A%2F%2Fkey%40sentry.jesassn.org%2Fid2"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/sentry_tokens"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": 422, \"messages\": {\"app_name\": [\"Name must be greater than 3 characters long.\"]}, \"message\": \"The request was well-formed but was unable to be followed due to semantic errors.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "url": "https://credmgr.jesassn.org/api/v1/sentry_tokens"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}