{
  "http_interactions": [
    {
      "recorded_at": "2021-11-10T19:04:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=se&database_flavor=postgres&database=postgres&database_host=localhost&database_port=5432&database_username=postgres&enabled=True"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/database_credentials"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\": 422, \"messages\": {\"database_password\": [\"Missing data for required field.\"], \"app_name\": [\"Name must be greater than 3 characters long.\"]}, \"message\": \"The request was well-formed but was unable to be followed due to semantic errors.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 422,
          "message": "UNPROCESSABLE ENTITY"
        },
        "url": "https://credmgr.jesassn.org/api/v1/database_credentials"
      }
    },
[...]
    {
      "recorded_at": "2021-11-10T19:04:36",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=se&database_flavor=postgres&database=postgres&database_host=localhost&database_port=5432&database_username=postgres&enabled=True"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/database_credentials"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"status\": 422, \"messages\": {\"database_password\": [\"Missing data for required field.\"], \"app_name\": [\"Name must be greater than 3 characters long.\"]}, \"message\": \"The request was well-formed but was unable to be followed due to semantic errors.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 422,
          "message": "UNPROCESSABLE ENTITY"
        },
        "url": "https://credmgr.jesassn.org/api/v1/database_credentials"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
