{
  "http_interactions": [
    {
      "recorded_at": "2021-07-07T21:54:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps/2"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\": 2, \"app_name\": \"usernote\", \"client_id\": \"<CLIENT_ID>\", \"client_secret\": \"<CLIENT_SECRET>\", \"resource_type\": \"RedditApp\", \"app_description\": \"\", \"user_agent\": \"nah\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"18c4a2234c5ea580989fde0b50eb64902f28353d9107bb9a113c271781cd5e54\", \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps/2"
      }
    },
    {
      "recorded_at": "2021-07-07T21:54:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "redditor=Lil_SpazJoekp&reddit_app_id=2"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/refresh_tokens/by_redditor"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\": 4, \"reddit_app_id\": 2, \"redditor\": \"Lil_SpazJoekp\", \"refresh_token\": \"<REFRESH_TOKEN>\", \"resource_type\": \"RefreshToken\", \"owner_id\": 1, \"scopes\": [\"read\", \"wikiread\", \"report\", \"modconfig\", \"subscribe\", \"modtraffic\", \"modself\", \"account\", \"structuredstyles\", \"privatemessages\", \"submit\", \"modposts\", \"modothers\", \"modwiki\", \"save\", \"edit\", \"modmail\", \"creddits\", \"modflair\", \"flair\", \"modcontributors\", \"vote\", \"mysubreddits\", \"modlog\", \"identity\", \"wikiedit\", \"livemanage\", \"history\"], \"issued_at\": \"2020-05-28T21:16:25.665402+00:00\", \"revoked\": false, \"revoked_at\": null}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/refresh_tokens/by_redditor"
      }
    },
[...]
    {
      "recorded_at": "2021-07-07T21:55:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"op\": \"replace\", \"path\": \"/refresh_token\", \"value\": \"<REFRESH_TOKEN>\"}]"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "PATCH",
        "uri": "https://credmgr.jesassn.org/api/v1/refresh_tokens/4"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\": 4, \"reddit_app_id\": 2, \"redditor\": \"Lil_SpazJoekp\", \"refresh_token\": \"<REFRESH_TOKEN>\", \"resource_type\": \"RefreshToken\", \"owner_id\": 1, \"scopes\": [\"read\", \"wikiread\", \"report\", \"modconfig\", \"subscribe\", \"modtraffic\", \"modself\", \"account\", \"structuredstyles\", \"privatemessages\", \"submit\", \"modposts\", \"modothers\", \"modwiki\", \"save\", \"edit\", \"modmail\", \"creddits\", \"modflair\", \"flair\", \"modcontributors\", \"vote\", \"mysubreddits\", \"modlog\", \"identity\", \"wikiedit\", \"livemanage\", \"history\"], \"issued_at\": \"2020-05-28T21:16:25.665402+00:00\", \"revoked\": false, \"revoked_at\": null}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/refresh_tokens/4"
      }
    },
    {
      "recorded_at": "2021-07-07T21:55:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/refresh_tokens/4"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\": 4, \"reddit_app_id\": 2, \"redditor\": \"Lil_SpazJoekp\", \"refresh_token\": \"<REFRESH_TOKEN>\", \"resource_type\": \"RefreshToken\", \"owner_id\": 1, \"scopes\": [\"read\", \"wikiread\", \"report\", \"modconfig\", \"subscribe\", \"modtraffic\", \"modself\", \"account\", \"structuredstyles\", \"privatemessages\", \"submit\", \"modposts\", \"modothers\", \"modwiki\", \"save\", \"edit\", \"modmail\", \"creddits\", \"modflair\", \"flair\", \"modcontributors\", \"vote\", \"mysubreddits\", \"modlog\", \"identity\", \"wikiedit\", \"livemanage\", \"history\"], \"issued_at\": \"2020-05-28T21:16:25.665402+00:00\", \"revoked\": false, \"revoked_at\": null}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/refresh_tokens/4"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}