{
  "http_interactions": [
    {
      "recorded_at": "2020-04-26T03:03:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/bots/1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 1, \"app_name\": \"test\", \"enabled\": true, \"resource_type\": \"Bot\", \"owner_id\": 1, \"reddit_app\": null, \"sentry_token\": null, \"database_credential\": null}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/bots/1"
      }
    },
[...]
    {
      "recorded_at": "2020-04-26T03:15:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/bots/1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 1, \"app_name\": \"test\", \"enabled\": true, \"resource_type\": \"Bot\", \"owner_id\": 1, \"reddit_app\": null, \"sentry_token\": null, \"database_credential\": null}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/bots/1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}