{
  "http_interactions": [
    {
      "recorded_at": "2020-04-29T01:33:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users/me"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 1, \"username\": \"spaz\", \"is_active\": true, \"is_regular_user\": true, \"is_admin\": true, \"default_settings\": {\"database_flavor\": \"postgres\", \"database_host\": \"localhost\"}, \"reddit_username\": \"\", \"created\": \"2020-04-03T02:55:01.957432+00:00\", \"updated\": \"2020-04-29T01:32:46.004968+00:00\", \"resource_type\": \"User\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/me"
      }
    },
    {
      "recorded_at": "2020-04-29T01:33:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=redditApp&client_id=clientId&user_agent=python%3AredditApp&app_type=web&redirect_uri=https%3A%2F%2Fcredmgr.jesassn.org%2Foauth2%2Freddit_callback&enabled=True"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": 409, \"error\": \"already exists\", \"items\": {\"client_id\": \"clientId\", \"owner_id\": \"1\"}, \"message\": \"Failed to create a new Reddit App.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 409,
          "message": "Conflict"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}