{
  "http_interactions": [
    {
      "recorded_at": "2020-05-15T03:37:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/sentry_tokens?limit=20&offset=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\": 9, \"app_name\": \"mod_from_discord\", \"dsn\": \"https://b365439feb7641cb88ecffd347ecec0d@sentry.jesassn.org/10\", \"enabled\": true, \"resource_type\": \"SentryToken\"}]\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/sentry_tokens?limit=20&offset=0"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}