{
  "http_interactions": [
    {
      "recorded_at": "2020-05-20T21:08:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=botName2"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/bots/by_name"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 6, \"app_name\": \"botName2\", \"resource_type\": \"Bot\", \"owner_id\": 1, \"reddit_app\": {\"id\": 27, \"app_name\": \"test\", \"client_id\": \"test\", \"client_secret\": \"\", \"resource_type\": \"RedditApp\", \"short_name\": \"\", \"app_description\": \"\", \"user_agent\": \"test\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08\", \"owner_id\": 1}, \"sentry_token\": {\"id\": 4, \"app_name\": \"sentryToken\", \"dsn\": \"https://key@sentry.jesassn.org/id\", \"resource_type\": \"SentryToken\", \"owner_id\": 1}, \"database_credential\": {\"id\": 1, \"app_name\": \"test\", \"database_username\": \"postgres\", \"database_host\": \"localhost\", \"database\": \"postgres\", \"database_flavor\": \"postgres\", \"resource_type\": \"DatabaseCredential\", \"database_port\": 5432, \"database_password\": \"postgres\", \"use_ssh\": false, \"ssh_host\": null, \"ssh_port\": 22, \"ssh_username\": null, \"ssh_password\": null, \"use_ssh_key\": false, \"private_key\": null, \"private_key_passphrase\": null, \"owner_id\": 1}}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/bots/by_name"
      }
    },
    {
      "recorded_at": "2020-05-20T21:08:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"op\": \"replace\", \"path\": \"/app_name\", \"value\": \"newBotName\"}, {\"op\": \"replace\", \"path\": \"/reddit_app_id\", \"value\": 28}]"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "PATCH",
        "uri": "https://credmgr.jesassn.org/api/v1/bots/6"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 6, \"app_name\": \"newBotName\", \"resourc[...]
