{
  "http_interactions": [
    {
      "recorded_at": "2021-07-07T20:57:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic dXNlcm5hbWU6cGFzc3dvcmQ="
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users/me"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\": 33, \"username\": \"username\", \"is_active\": true, \"is_regular_user\": true, \"is_admin\": false, \"default_settings\": {}, \"reddit_username\": \"\", \"created\": \"2021-07-06T09:07:37.543959+00:00\", \"updated\": \"2021-07-06T09:07:37.544218+00:00\", \"resource_type\": \"User\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/me"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}