{
  "http_interactions": [
    {
      "recorded_at": "2020-04-29T23:49:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=testSentryToken&dsn=https%3A%2F%2Fkey%40sentry.jesassn.org%2Fid"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/sentry_tokens"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 2, \"app_name\": \"testSentryToken\", \"dsn\": \"https://key@sentry.jesassn.org/id\", \"enabled\": true, \"resource_type\": \"SentryToken\", \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/sentry_tokens"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}