{
  "http_interactions": [
    {
      "recorded_at": "2020-05-07T23:05:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "username=username&password=password&default_settings=%7B%22database_flavor%22%3A+%22postgres%22%2C+%22user_agent%22%3A+%22userAgent%22%7D&is_active=True&is_regular_user=True&reddit_username=redditUsername"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/users"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\n    \"id\": 10,\n    \"username\": \"username\",\n    \"is_active\": true,\n    \"is_regular_user\": true,\n    \"is_admin\": false,\n    \"default_settings\": {\n        \"database_flavor\": \"postgres\",\n        \"user_agent\": \"userAgent\"\n    },\n    \"reddit_username\": \"redditUsername\",\n    \"created\": \"2020-05-08T03:57:32.830618+00:00\",\n    \"updated\": \"2020-05-08T03:57:32.830873+00:00\",\n    \"resource_type\": \"User\"\n}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}