{
  "http_interactions": [
    {
      "recorded_at": "2020-04-29T23:49:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/sentry_tokens/1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 1, \"app_name\": \"test\", \"dsn\": \"https://e71e83591c9a485e98e78c1d1b320719@sentry.jesassn.org/6\", \"enabled\": true, \"resource_type\": \"SentryToken\", \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/sentry_tokens/1"
      }
    },
[...]
    {
      "recorded_at": "2020-04-29T23:49:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/sentry_tokens/1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"message\": \"The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://credmgr.jesassn.org/api/v1/sentry_tokens/1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}