{
  "http_interactions": [
    {
      "recorded_at": "2020-04-29T23:50:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=sentryToken&dsn=https%3A%2F%2Fkey%40sentry.jesassn.org%2Fid"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/sentry_tokens"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"status\": 409, \"error\": \"already exists\", \"items\": {\"app_name\": \"sentryToken\", \"owner_id\": \"1\"}, \"message\": \"Failed to create a new Sentry Token.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 409,
          "message": "Conflict"
        },
        "url": "https://credmgr.jesassn.org/api/v1/sentry_tokens"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}