{
  "http_interactions": [
    {
      "recorded_at": "2020-04-29T05:14:15",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps/6"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 6, \"app_name\": \"testRedditApp\", \"client_id\": \"newClientId\", \"client_secret\": \"clientSecret\", \"resource_type\": \"RedditApp\", \"short_name\": \"\", \"app_description\": \"\", \"user_agent\": \"userAgent\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"7ce31a95e1abc2a41673406ff87da51932acf1047cbf2eec1beb1f783d81cfd4\", \"enabled\": true, \"owner_id\": 1}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps/6"
      }
    },
    {
      "recorded_at": "2020-04-29T05:14:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "user_id=newId"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/user_verifications/get_redditor"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"message\": \"The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "url": "https://credmgr.jesassn.org/api/v1/user_verifications/get_redditor"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}