{
  "http_interactions": [
    {
      "recorded_at": "2020-04-29T23:49:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/sentry_tokens?limit=20&offset=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[]\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/sentry_tokens?limit=20&offset=0"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}