{
  "http_interactions": [
    {
      "recorded_at": "2020-04-29T23:12:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users/me"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 1, \"username\": \"spaz\", \"is_active\": true, \"is_regular_user\": true, \"is_admin\": true, \"default_settings\": {\"database_flavor\": \"postgres\", \"database_host\": \"localhost\"}, \"reddit_username\": \"\", \"created\": \"2020-04-03T02:55:01.957432+00:00\", \"updated\": \"2020-04-29T23:09:09.133459+00:00\", \"resource_type\": \"User\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/me"
      }
    },
    {
      "recorded_at": "2020-04-29T23:12:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "app_name=testRedditApp&client_id=clientId&user_agent=python%3AtestRedditApp&app_type=web&redirect_uri=https%3A%2F%2Fcredmgr.jesassn.org%2Foauth2%2Freddit_callback&enabled=True&owner_id=4"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "POST",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 18, \"app_name\": \"testRedditApp\", \"client_id\": \"clientId\", \"client_secret\": null, \"resource_type\": \"RedditApp\", \"short_name\": null, \"app_description\": null, \"user_agent\": \"python:testRedditApp\", \"app_type\": \"web\", \"redirect_uri\": \"https://credmgr.jesassn.org/oauth2/reddit_callback\", \"state\": \"91893362b02d01c00fb71bc6be02065dedc3356595fc648581ab59a94864a7e4\", \"enabled\": true, \"owner_id\": 4}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps"
      }
    },
    {
      "recorded_at": "2020-04-29T23:12:46",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/users/4"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\": 4, \"username\": \"elfah\", \"is_active\": true, \"is_regular_user\": true, \"is_admin\": true, \"default_settings\": {\"undefined\": \"http://localhost:8080\", \"database_flavor\": \"postgres\", \"database_host\": \"localhost\"}, \"reddit_username\": \"\", \"created\": \"2020-02-10T23:49:55.562421+00:00\", \"updated\": \"2020-04-29T23:12:46.218347+00:00\", \"resource_type\": \"User\"}\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/users/4"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}