{
  "http_interactions": [
    {
      "recorded_at": "2020-04-29T05:26:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "X-API-TOKEN": [
            "<API_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://credmgr.jesassn.org/api/v1/reddit_apps?limit=20&offset=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\": 1, \"app_name\": \"DankMemesModAbuse\", \"client_id\": \"FjLV5xUo9-db4A\", \"client_secret\": \"zipSR4S8nZ_tN0viQSmPjcjcf3c\", \"resource_type\": \"RedditApp\"}]\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://credmgr.jesassn.org/api/v1/reddit_apps?limit=20&offset=0"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}